@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

body {
    overflow-x: hidden;
}

.ant-layout-header {
    line-height: 2.5;
    background: rgba(0, 0, 0, 0.2) !important;
    height: 55px;
    -webkit-box-shadow: 0 -23px 14px 21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 -23px 14px 21px rgba(0, 0, 0, 0.75);
    box-shadow: 0 -23px 14px 21px rgba(0, 0, 0, 0.75);
}

.bgheader {
    background-color: black;
    height: 55px;
    width: 105%;
    z-index: 3;
    position: fixed;
    background: linear-gradient(
            45deg,
            rgba(3, 0, 31, 0.9),
            rgba(11, 91, 165, 0.6)
    ),
    url(../img/bg.jpg);
    background-size: cover;
}

.divOne {
    background: linear-gradient(
            45deg,
            rgba(3, 0, 31, 0.9),
            rgba(11, 91, 165, 0.6)
    ),
    url(../img/bg.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 4;
}

.divTwo{
    background: white;
    min-height: 100vh;
}

.divThree {
    background: linear-gradient(
            45deg, #dee4ff, #e4ffea);
    min-height: 100vh;
}

.divFour {

}

.beigeDiv {
    background: white;
}

.logo {
    height: 155px;
    opacity: 0.8;
}

.name {
    margin-top: 10%;
    text-align: center;
    font-size: 23px;
    color: white;
    font-weight: 100;
    font-family: "Jura", sans-serif;
}

.login {
    background-color: rgba(255, 255, 255, 0.3);
    border: none !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
}

.password {
    background-color: rgba(255, 255, 255, 0.3);
    border: none !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
}

.btnLogin {
    border-radius: 4px;
    border: none;
    background: linear-gradient(
            45deg,
            rgba(59, 179, 85, 0.4),
            transparent
    ) !important;
    background-color: rgba(0, 104, 199, 0.4) !important;
    font-family: "Nunito", sans-serif;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease;
}

.btnLogin:hover {
    border-radius: 4px;
    border-color: transparent;
    background: linear-gradient(
            45deg,
            rgba(59, 179, 85, 0.6),
            transparent
    ) !important;
    background-color: rgba(0, 104, 199, 0.6) !important;
    color: #e4e4e4;
    transition: all 0.5s ease;
}

.headerBurger {
    padding: 3px 15px;
}

.nameMain {
    margin-top: -3px;
}

.nameOne {
    color: white;
    font-size: 25px;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
}

.nameTwo {
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.cabinetName {
    color: white;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
}

.divNameOne {
    margin-right: 10px;
    color: #32435e;
    font-size: 30px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.divNameTwo {
    color: #32435e;
    font-size: 30px;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
}

.nameMenu {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
}

.namePassword {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
}

.mainDrawer .ant-drawer-content {
    background-color: rgba(27, 27, 27, 0.95);
}

.menuAnchor {
    display: flex;
}

.menuAnchor a {
    height: 68px;
    text-align: center;
    flex: 1;
    color: white;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
}

.menuAnchor a:hover {
    background: -webkit-linear-gradient(
            45deg,
            rgba(59, 179, 85, 1),
            rgba(13, 139, 255, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.menuAnchor .selected {
    background: -webkit-linear-gradient(
            45deg,
            rgba(59, 179, 85, 1),
            rgba(13, 139, 255, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.ant-back-top {
    bottom: 150px;
    color: white;
    font-size: 27px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.ant-back-top:hover {
    opacity: 1;
    transition: all 0.3s ease;
}

.backToTop {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: linear-gradient(45deg, rgba(59, 179, 85, 0.9), transparent);
    background-color: rgba(0, 104, 199, 0.8);
    margin-bottom: 200px;
}

.anticon-vertical-align-top {
    vertical-align: -0.35em;
    margin-left: 11px;
}

.big {
    width: 150px !important;
    height: 150px !important;
    transition: all 0.3s ease;
}

.bigDoc {
    width: 100px !important;
    height: 100px !important;
    transition: all 0.3s ease;
}

.underIconDoc {
    color: #32435e;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    font-weight: 100;
    text-align: center;
}

.underIcon {
    color: white;
    font-size: 23px;
    font-family: "Nunito", sans-serif;
    font-weight: 100;
}

.big:hover {
    background-color: #16181a;
    transition: all 0.3s ease;
    width: 180px !important;
    height: 180px !important;
}

.contacts {
    color: #32435e;
    font-size: 21px;
    font-weight: 100;
    font-family: "Nunito", sans-serif;
}

.contactsImg {
    height: 55px;
}

.siderMenu {
    background-color: transparent;
    color: white;
}

.siderMenu .ant-menu-sub.ant-menu-inline {
    background-color: transparent;
    color: white;
}

.siderMenu.ant-menu-inline {
    border-right: none;
}

.ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    background: #212740;
    border-right: solid 1px #e6e6e6;
}

.ant-layout-sider {
    background: white;
    border-top: solid 1px #e6e6e6;
    border-right: solid 1px #e6e6e6;
}

.ant-menu,
.ant-menu-submenu-expand-icon,
.ant-menu-submenu-arrow {
    color: #374967;
    transition: all 0.3s ease;
    background: transparent;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover,
.ant-menu-submenu-selected,
.ant-menu-item-selected,
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow,
.ant-menu-vertical .ant-menu-submenu-selected{
    color: #288788;
    transition: all 0.3s ease;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #288788;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #e8f3e8;
}

.menuIcons {
    text-align: center;
}

.userName {
    height: 40px;
    background: #eff2f5;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    color: #455d7b;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

.ant-menu-inline .ant-menu-submenu-title {
    padding-right: 30px;
}

.menuBtn {
    border-left: solid 1px #7086a0;
    height: 55px;
    text-align: center;
}

.ant-layout-sider-collapsed .userName {
    display: none;
}

.ant-scrolling-effect .menuBtn {
    border-left: none;
}

.ant-table-pagination.ant-pagination {
    margin-top: 15px;
    margin-bottom: 0;
}

.whiteDiv {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    /*min-height: 300px;*/
    border: solid 1px #e6e6e6;
}

.titleWhiteDiv {
    color: #288788;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
}

.ant-table-thead > tr > th, .ant-table {
    color: #374967;
    font-family: "Nunito", sans-serif;
}

.tagWidth {
    width: 150px;
    text-align: center;
}

.ant-input,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker,
.ant-input-affix-wrapper {
    border-radius: 0;
    border: 1px solid #d6deea;
}

label {
    margin-top: 20px;
    color: #374967;
    font-family: "Nunito", sans-serif;
}

.ant-btn-primary {
    background: #41a1ff;
    border-color: #41a1ff;
}

.ant-btn-dangerous.ant-btn-primary {
    background: #f2637b;
    border-color: #f2637b;
}

.ant-dropdown-menu-item-divider {
    margin: 0;
}

.ant-dropdown-menu {
    padding: 0;
}

.ant-dropdown-menu-item {
    padding: 8px 12px;
}

.ant-menu-submenu-title .anticon,
.ant-menu-item .anticon {
    color: #288788;
}

.ant-menu-item a {
    color: #4a617e;
}

.ant-menu-item-selected a,
.ant-menu-item:hover a {
    color: #288788;
}

.antd-pro-charts-timeline-chart-timelineChart canvas {
    width: 99% !important;
}

.ant-alert-success,
.ant-alert-warning,
.ant-alert-info,
.ant-alert-error,
.ant-alert .blank {
    border: 1px solid #f0f2f5;
}

.blank {
    background: white;
}

.ant-alert-with-description .ant-alert-message {
    color: #496788;
    font-family: "Nunito", sans-serif;
}

.ant-alert,
.ant-picker-calendar {
    color: #444444;
    font-family: "Nunito", sans-serif;
}

.pNews {
    margin-top: 20px;
    font-size: 16px;
    color: #444444;
    font-family: "Nunito", sans-serif;
}